/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(51, 51, 51);
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

::selection {
    background-color: rgba(197, 149, 255, 0.3);
    z-index: -1;
}

a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

a:visited, .fa-ico {
    color: rgb(51, 51, 51);
}

@font-face {
    font-family: 'retro_party';
    src: url('retro_party.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'retro_party';
    font-style: normal;
    font-size: 72px;
}

#subt {
    font-size: 25px;
    font-style: italic;
    text-align: center;
    padding-top: 2%;
}

.Bitalic {
    font-style: italic;
    font-weight: 600;
}

#links {
    margin: 2%;
    font-size: 22px;
    font-weight: 600;
}

#main {
    height: 55vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#qte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5vh;
    font-size: 20px;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    height: 44vh;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    align-items: center;
}

section > img {
    object-fit: initial;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ico {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50vh;
}

.fa-ico {
    font-size: 48px;
}

@media only screen and (max-width: 800px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
        font-size: 20px;
        margin-top: 3vh;
    }

    h1 {
        font-size: 36px;
        line-height: 10vh;
        padding-top: 10vh;
        text-align: center;
    }

    #links {
        margin: 2%;
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        padding-top: 2vh;
    }

    #qte {
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 9vh;
        padding-top: 13vh;
    }

    #main {
        font-size: 17px;
        height: 50vh;
    }

    section {
        height: 48vh;
    }

    h2 {
        font-size: 19px;
    }

    h3 {
        display: none;
    }

    .fa-ico {
        font-size: 20px;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
        padding: unset;
    }

    #ico {
        display: flex;
        justify-content: space-around;
    }
}