body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(51, 51, 51);
}

::selection {
    background-color: rgba(197, 149, 255,0.3);
    z-index:-1;
}

a {
    text-decoration: none;
}


header {
    /*border-color: rgb(255, 2, 255);
    border-width: 2px;
    border-style: solid;*/
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
}

#links {
    margin: 2%;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
}

#TitleImg {
    width: 900px;
    margin-top: 2%;
    margin-bottom: 1%;
}
.pink {
    font-style: italic;
    font-weight: 600;
    background-color: rgba(240, 175, 209, 0.5)
}

.blue {    
    font-style: italic;
    font-weight: 600;
    background-color: rgba(106, 218, 255, 0.5)
}

#main {
    /*border-color: rgb(81, 255, 0);
    border-width: 2px;
    border-style: solid;*/
    height: 50vh;
    display: flex;
    justify-content: center;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 46vh;
    width: 80vw; 
    font-size: 20px;
    line-height: 29px;
    text-align: center;
}

#cases {
    display: flex;
    flex-direction: column;
    text-align: center;
    /*border-color: mediumslateblue;
    border-width: 2px;
    border-style: solid;*/
}

footer {
    /*border-color: darkviolet;
    border-width: 2px;
    border-style: solid;*/
    display: flex;
    flex-direction: column;
    align-items: center;

}

#ico {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50vh;
}

.fa-ico {
    font-size: 48px;
}
